<p-accordion [activeIndex]="0">
  <p-accordionTab header="Información Personal">
    <p><strong>Nombre:</strong> {{ alumno?.nombre }}</p>
    <p><strong>Apellidos:</strong> {{ alumno?.apellidos }}</p>
    <p><strong>DNI:</strong> {{ alumno?.dni }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ alumno?.fechaNacimiento | date }}</p>
    <p><strong>Email:</strong> {{ alumno?.email }}</p>
    <p><strong>Teléfono:</strong> {{ alumno?.telefono }}</p>
    <img style="width:200px; min-height: 200px" *ngIf="alumno?.urlFoto" [src]="alumno?.urlFoto" alt="Foto de {{ alumno?.nombre }}" class="foto-alumno">
  </p-accordionTab>

  <p-accordionTab header="Curso">
    <p><strong>Curso:</strong> {{ alumno?.curso }}</p>
  </p-accordionTab>

  <p-accordionTab header="Padres">
    <p *ngIf="(alumno?.padres?.length ?? 0) > 0; else noPadres">
      <strong>DNI de los Padres:</strong>
    <ul>
      <li *ngFor="let padre of alumno?.padres">{{ padre }}</li>
    </ul>
    <ng-template #noPadres>
      <p>No se han registrado padres para este alumno.</p>
    </ng-template>
  </p-accordionTab>


  <p-accordionTab header="Retrasos y Justificantes">
    <p *ngIf="(alumno.justificantes?.length ?? 0) > 0; else noRetrasos">
    <div *ngFor="let justificante of alumno.justificantes" class="retraso-card">
      <p><strong>Identificador:</strong> {{ justificante }}</p>
    </div>
    <ng-template #noRetrasos>
      <p>No se han registrado retrasos ni justificantes para este alumno.</p>
    </ng-template>
  </p-accordionTab>
</p-accordion>
