<app-menu></app-menu>
<p-toast></p-toast>

<!-- Toolbar -->
<p-toolbar styleClass="mb-4 gap-2">
  <ng-template pTemplate="left">
    <p-speedDial
      id="speedDial"
      [model]="items"
      class="speed-dial-bg"
      direction="right"
      [style]="{ position: 'relative', top: '-0.2vh' }"
    ></p-speedDial>
  </ng-template>

  <ng-template pTemplate="right">
    <p-fileUpload
      mode="basic"
      accept="image/*"
      [maxFileSize]="1000000"
      label="Import"
      chooseLabel="Import"
      class="mr-2 inline-block"
    ></p-fileUpload>
    <p-button severity="help" label="Export" icon="pi pi-upload"></p-button>
  </ng-template>
</p-toolbar>

<!-- Table -->
<p-table
  #dt
  [value]="data"
  [rows]="rows"
  [paginator]="true"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [globalFilterFields]="globalFilterFields"
  [tableStyle]="tableStyle"
  class="bg-blue-900 border-round-lg surface-border"
  [(selection)]="selectedItems"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-content-between">
      <h5 class="m-0">Manage Data</h5>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="onGlobalFilter(dt, $event)"
          placeholder="Search..."
        />
      </span>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style]="col.style">
        {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th style="min-width: 10rem;">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item>
    <tr>
      <td>
        <p-tableCheckbox [value]="item"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'urlFoto'">
          <img
            [src]="getImageUrl(item[col.field])"
            width="50"
            alt="Foto"
            class="border-round"
            style="object-fit: cover;"
          />
        </ng-container>
        <ng-container *ngIf="col.field !== 'urlFoto'">
          <span>{{ item[col.field] }}</span>
        </ng-container>
      </td>
      <td>
        <p-button
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          severity="success"
          (onClick)="editItem(item)"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          severity="danger"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          (onClick)="deleteItem(item)"
        ></p-button>
        <p-button
          icon="pi pi-eye"
          severity="info"
          [rounded]="true"
          [outlined]="true"
          (onClick)="viewItem(item)"
        ></p-button>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
      In total there are {{ data.length }} items.
    </div>
  </ng-template>
</p-table>
