@import "primeng/resources/themes/lara-dark-green/theme.css";
@import "primeng/resources/primeng.css";
html {
  font-size: 15px;
}


* {
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 400;

            font-style: normal;
          }
body {
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo específico para el InputText, Dropdown y MultiSelect */
.p-inputgroup .p-inputtext,
.p-inputgroup .p-dropdown,
.p-inputgroup .p-multiselect {
  width: 75% !important; /* Aseguramos que tengan el mismo ancho */
}

/* Aseguramos que la tarjeta tenga un ancho adecuado */
.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-width: 400px;  /* Reducido el ancho */
  min-height: 800px; /* Mayor altura mínima */
  margin: auto; /* Centrado automático */
}


/* Ajustamos el ancho de los input-text */
.p-inputtext {
  width: 100% !important; /* Aseguramos que los input-text llenen el espacio disponible */
}

/* Estilo específico para los dropdown */
.p-dropdown {
  width: 100% !important; /* Aseguramos que los dropdown también tengan el mismo ancho */
}

/* Estilo para los multiselects */
.p-multiselect {
  width: 100% !important; /* Aseguramos que los multiselect tengan el mismo ancho */
}
.p-inputgroup {
  width: 100%;
  max-width: 500px; /* Ajusta según tus necesidades */
}
input.p-inputtext{
  margin-botton:5vh;
}




