<div class="flex justify-content-center align-items-center" style="height: 100vh;">
  <p-card header="Iniciar Sesión" [style]="{ width: '400px', marginTop: '20px', textAlign:'center', boxShadow: '0 4px 8px rgba(0,0,0,0.2)' }">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
      <div class="field mb-4 mt-5">
        <span class="p-float-label">
          <input id="email" type="email" pInputText formControlName="email" />
          <label for="email">Correo electrónico</label>
        </span>
        <small class="mt-5" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="p-error">
          Ingrese un correo electrónico válido.
        </small>
      </div>

      <div class="field mb-4  mt-6">
        <span class="p-float-label">
          <p-password id="password" formControlName="password" [toggleMask]="true"></p-password>
          <label for="password">Contraseña</label>
        </span>
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
          La contraseña es requerida.
        </small>
      </div>

      <button pButton type="submit" label="Iniciar Sesión" [disabled]="loginForm.invalid"></button>
      <a [routerLink]="['/register']" class="block mt-3">¿No tienes cuenta? Regístrate</a>
    </form>

    <small *ngIf="errorMessage" class="p-error block mt-3">{{ errorMessage }}</small>
  </p-card>
</div>
