.field {
  margin-bottom: 1.5rem; /* Aumenta el margen entre los campos */
}

.p-card {
  transition: transform 0.3s ease; /* Suaviza la elevación */
}

.p-card:hover {
  transform: translateY(-5px); /* Eleva el card al pasar el mouse */
}
